*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Roboto";
}
header{
  width: 100%;
}
main{
  min-height: calc( 100vh - 120px );
  background: #5D4157;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #A8CABA, #5D4157);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #A8CABA, #5D4157); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
footer{
  width: 100%;
}
.container{
  margin: 0 auto;
  width: 900px;
}