@import '../../assets/css/variables';

.cardmeal{
  width: 30%;
  display: flex;
  flex-direction: column;
  background: $black;
  border-radius: 4px;
  margin-bottom: 20px;
  cursor: pointer;
  &_image{
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 4px 4px 0 0;
    img{
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
      transition: all 0.3s ease-in-out;
    }
  }
  &_title{
    color: $white;
    padding: 20px;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
  }
  &:hover > &_title{
    color: $light-orange;
  }
  &:hover > &_image img{
    transform: scale(1.1);
  }

}